<div class="head" [ngClass]="getHeadClass()">
  <div class="head-content">
    <div class="head-content-left">
    </div>
    <div class="head-content-right">
      <div class="head-menu">
        <div class="head-menu-item">
          <button class="head-menu-item-btn ripple">
            <i class="fa-regular fa-bell menu-icon"></i>
          </button>
          <button class="head-menu-item-btn ripple">
            <i class="fa-regular fa-comment menu-icon"></i>
          </button>
        </div>
      </div>
      <div class="head-user-avatar-container">
        <div class="head-user-avatar">
          <img
            src="./../../../../assets/img/any/Yo.jpg"
            alt="User"
            class="user-avatar"
          />
          <div class="circle-indicator pulse"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <nav class="head navbar right" [ngClass]="getHeadClass()">
  <ul class="head-content navbar-nav menu-items">
    <li class="nav-item dropdown">
      <a
        class="nav-link"
        href="#"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
      <i class="fa-brands fa-microsoft"></i>
      </a>
      <ul class="dropdown-menu dropdown-menu-end animate slideIn dropdown-quick-actions">
        <div class="quick-actions">
          <div class="quick-actions--header">
            <h5 class="mb-3">Acciones Rápidas</h5>
            <span class="py-2 px-3">25 Tareas Pendientes</span>
          </div>
          <div class="quick-actions--actions">
            <div class="col-6 action">
              <a href="">
                <i class="fa-solid fa-file-invoice-dollar"></i>
                <span>Nuevo Comprobante</span>
              </a>
            </div>
            <div class="col-6 action">
              <a href="">
                <i class="fa-brands fa-product-hunt"></i>
                <span>Nuevo Producto</span>
              </a>
            </div>
            <div class="col-6 action">
              <a href="">
                <i class="fa-solid fa-sack-dollar"></i>
                <span>Nuevo Compra</span>
              </a>
            </div>
            <div class="col-6 action">
              <a href="">
                <i class="fa-solid fa-plus"></i>
                <span>Nuevo Comprobante</span>
              </a>
            </div>
          </div>
        </div>
      </ul>
    </li>
    <li class="nav-item dropdown">
      <a
        class="nav-link"
        href="#"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <i class="fa-solid fa-user"></i>
      </a>
      <ul class="dropdown-menu dropdown-menu-end animate slideIn">
        <li>
          <a class="dropdown-item user px-3">
            <div class="user--picture">
              <img
                src="./../../../../assets/img/any/user.jpg"
                alt="user_photo"
              />
            </div>
            <div class="user--info">
              <div class="user-name">Max Smith</div>
              <div class="user-email">max@jsmartsol.com</div>
            </div>
          </a>
          <div class="separator my-2"></div>
        </li>
        <li><a class="dropdown-item">Mis pagos</a></li>
        <li><a class="dropdown-item logout">Salir</a></li>
      </ul>
    </li>
  </ul>
</nav> -->
